body {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.background {
  background-image: url('images/t-shirt-background.jpg');
}

.background2 {
  background-color: black;
}

.navbar {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
}

.navlinks li {
  display: inline-block;
  list-style-type: none;
  margin-right: 50px;
  position: relative;
  top: 15px;
  font-size: 20px;
}

.navlinks a:hover {
  color: grey;
}

.navlinks a {
  text-decoration: none;
  color: black;
} 

.navbar img {
  width: 540px;
  height: 60px;
  position: relative;
  float: right;
  left: -10px;
  top: 10px;
}

.sh {
  width: 700px;
  height: 68px;
  position: relative;
  top: 340px;
  left: 49%;
  transform: translate(-50%, -50%);
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  border: 2px solid black;
  text-align: center;
}

.sign {
  width: 300px;
  height: 68px;
  position: relative;
  top: 400px;
  right: 160px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  border: 2px solid black;
  text-align: center;
}

.log {
  width: 300px;
  height: 68px;
  position: relative;
  top: 500px;
  right: 462px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  border: 2px solid black;
  text-align: center;
}

#searchInput {
  width: 1020px;
  height: 48px;
  position: relative;
  top: 140px;
  right: -200px;
  border-radius: 10px;
  border: 5px solid black;
  font-size: 20px;
  padding: 10px;
  outline: none;
}

#results {
  list-style-type: none;
  position: relative;
  top: 200px;
  padding-bottom: 20px;
}

#results a {
  color: black;
}

.name {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
  position: relative;
  right: 2.5px;
  width: 1365px;
  margin-bottom: 50px;
}

.name img {
  width: 300px;
  height: 300px;
  position: relative;
  top: -10px;
}

.name p {
  position: relative;
  top: 70px;
  float: right;
  left: -180px;
  font-size: 50px;
  font-weight: bold;
}

.item1 {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
  position: relative;
  right: 2.5px;
  width: 1365px;
  margin-bottom: 50px;
}

.item1 img {
  width: 300px;
  height: 300px;
  position: relative;
  top: -10px;
}

.item1 p {
  position: relative;
  top: 70px;
  float: right;
  left: -180px;
  font-size: 50px;
  font-weight: bold;
}

.item2 {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
  position: relative;
  right: 2.5px;
  width: 1365px;
  margin-bottom: 50px;
}

.item2 img {
  width: 300px;
  height: 300px;
  position: relative;
  top: 5px;
}

.item2 p {
  position: relative;
  top: 70px;
  float: right;
  left: -220px;
  font-size: 50px;
  font-weight: bold;
}

.item3 {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
  position: relative;
  right: 2.5px;
  width: 1365px;
  margin-bottom: 50px;
}

.item3 img {
  width: 300px;
  height: 300px;
  position: relative;
  top: -10px;
}

.item3 p {
  position: relative;
  top: 70px;
  float: right;
  left: -150px;
  font-size: 50px;
  font-weight: bold;
}

.item4 {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
  position: relative;
  right: 2.5px;
  width: 1365px;
}

.item4 img {
  width: 300px;
  height: 300px;
  position: relative;
  top: 7px;
}

.item4 p {
  position: relative;
  top: 70px;
  float: right;
  left: -170px;
  font-size: 50px;
  font-weight: bold;
}

.page-nums li {
  display: inline-block;
  position: relative;
  top: 280px;
  left: 46%;
  transform: translate(-50%, -50%);
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}

.page-nums a {
  color: black;
}

.page-nums a:hover {
  color:grey;
}

.about-box {
  text-align: center;
  width: 50%;
  position: relative;
  top: 120px;
  left: 23%;
  padding: 20px;
  background-color: black;
  color: white;
  padding-bottom: 50px;
}

.about-box a {
  color: white;
}

.product img {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
  position: relative;
  top: 220px;
  left: 100px;
  width: 500px;
}

.product-details {
  position: relative;
  left: 670px;
}

.product-name, .price, .product-details p {
  color: white;
  position: relative;
  top: -360px;
  width: 50%;
}

.price {
  color: white;
  position: relative;
  top: -320px;
  width: 50%;
}

.product-divider {
  border: .05px solid grey;
  width: 50%;
  position: relative;
  top: -300px;
}

.product-details h3 {
  color: white;
  position: relative;
  top: -290px;
}

.sizes button {
  font-size: 17px;
  font-weight: bold;
  width: 50px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 0px 2px 2px white;
  cursor: pointer;
}

.sizes li {
  display: inline;
  margin-right: 20px;
  position: relative;
  top: -280px;
  right: 40px;
}

.sizes button.selected {
  background-color: black; 
  color: #fff;
}

.quan h3 {
  color: white;
  position: relative;
  top: -260px;
}

.quan input {
  position: relative;
  top: -260px;
  width: 50px;
  font-size: 15px;
  padding: 5px;
  outline: none;
}

.atc button {
  position: relative;
  top: -220px; 
  font-size: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 2px 2px white;
  font-weight: bold;
  width: 350px;
  cursor: pointer;
}

.item3-2 img {
  width: 330px;
  height: 300px;
  position: relative;
  top: 7px;
}

.item4-2 img {
  width: 300px;
  height: 390px;
  position: relative;
  top: 7px;
}

#empty-cart-message {
  position: relative;
  top: 350px;
  left: 26%;
  font-size: 40px;
  color: white;
  background-color: black;
  width: 43.5%;
  padding: 15px;
  border-radius: 30px;
}

.cart-item {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
  position: relative;
  left: 5%;
  width: 800px;
  height: 350px;
  margin-top: 150px;
}

.cart-item img {
  width: 300px;
  height: 300px;
  position: relative;
  top: 15px;
  border-right: 2px solid black;
  padding-right: 100px;
}

.cart-item p {
  font-size: 28px;
  position: relative;
  top: -290px;
  left: 63%;
}

.cart-item button {
  position: relative;
  top: -290px;
  left: 63%;
  background-color: black;
  color: white;
  cursor: pointer;
}

#totals-container {
  background-color: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
  position: absolute;
  left: 68%;
  width: 400px;
  height: 600px;
  top: 120px;
}

.totals {
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 22px;
}

.totals h2 {
  text-decoration: underline;
}

.totals img {
  width: 200px;
  height: 200px;
  position: relative;
  top: 20px;
  left: 12%;
}

.totals button {
  position: relative;
  top: -80px;
  right: 27%;
  width: 90px;
  height: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.thank-you {
  position: relative;
  top: 280px;
  left: 24%;
  font-size: 40px;
  color: white;
  background-color: black;
  padding: 11px;
  text-align: center;
  width: 50%;
  border-radius: 30px;
}

.thank-you a {
  color: white;
}

.fa-solid {
  color: #000000; 
  font-size: 20px; 
  position: relative;
}

#cart-count {
  font-size: 9px; 
  position: absolute; 
  top: -14px; 
  right: -12px; 
  background-color: red;
  color: white; 
  border-radius: 50%; 
  padding: 3px 5px;
}

#signup-form {
  position: absolute; 
  top: 450px;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  width: 700px;
  height: 500px;
}

#signup-form h1 {
  position: relative; 
  left: 40%;
}

#signup-form label, #signup-form input {
  display: block;
  margin-top: 20px;
  position: relative; 
  left: 10%;
}

#signup-form input {
  width: 550px;
  outline: none;
  font-size: 15px;
}

#signup-form label, #signup-form input {
  position: relative; 
  top: 3%;
  font-size: 25px;
}

#signup-form button {
  position: relative; 
  top: 13%;
  left: 6%;
  font-size: 20px;
  width: 616px;
  padding: 8px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

#signup-form button:hover {
  background-color: black;
  color: white;
}

#login-form {
  position: absolute; 
  top: 450px;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  width: 700px;
  height: 440px;
}

#login-form h1 {
  position: relative; 
  left: 40%;
}

#login-form label, #login-form input {
  display: block;
  margin-top: 20px;
  position: relative; 
  left: 10%;
}

#login-form input {
  width: 550px;
  outline: none;
  font-size: 15px;
}

#login-form label, #login-form input {
  position: relative; 
  top: 3%;
  font-size: 25px;
}

#login-form button {
  position: relative; 
  top: 17%;
  left: 6%;
  font-size: 20px;
  width: 616px;
  padding: 8px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

#login-form button:hover {
  background-color: black;
  color: white;
}